
.dicas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  // background: linear-gradient(to right, #7b2ff7, #2c3ede);
  // color: #ffffff;
  // padding: 20px;
}

.header-card {
  text-align: center;
}

.dicas-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 600px; /* Ajuste conforme necessário */
}

.dica-item {
  flex-basis: calc(25% - 10px); /* Ajuste o espaçamento e tamanho conforme necessário */
}

button {
  width: 100%;
  padding: 10px;
}

.footer {
  text-align: center;
}
